In [1]:
import pandas as pd

orders = pd.read_csv("../data/processed/orders.csv")
orders.head()

   Order_Number  order_date  order_total  items_count     status    month
0      139374.0  2020-01-11       8450.0            1  Delivered  2020-01
1      139375.0  2020-01-11      33150.0            1  Delivered  2020-01
2      139376.0  2020-01-11      18200.0            1  Delivered  2020-01
3      139377.0  2020-01-11      25545.0            1  Delivered  2020-01
4      139378.0  2020-01-11      39780.0            1      Order  2020-01

In [2]:
monthly = (
    orders.groupby("month", as_index=False)
    .agg(
        revenue=("order_total", "sum"),
        aov=("order_total", "mean"),
        items_per_order=("items_count", "mean"),
        orders=("Order_Number", "count")
    )
)

In [3]:
monthly.head()

     month    revenue           aov  items_per_order  orders
0  2020-01   656162.0  18747.485714              1.0      35
1  2020-02   733759.0  19831.324324              1.0      37
2  2020-03  9063041.0  19283.065957              1.0     470
3  2020-04  7655609.0  19781.935401              1.0     387
4  2020-05  4304261.0  20303.117925              1.0     212

In [4]:
monthly.to_csv("../data/processed/monthly_metrics.csv", index=False)